.container {
  max-width: 800px;
  padding: 30px 60px;
}
.card {
  background: rgba(169, 93, 240, 0.1);
}
.initial-weather-icon {
  text-align: right;
}
.temperature {
  font-size: small;
}
.future-day {
  text-align: center;
}
.color,
.temperature {
  color: rgb(137, 81, 228);
}
.main-temperature {
  font-size: 4rem;
  /* cursor: pointer; */
}
.location-btn {
  background: rgb(137, 81, 228);
  color: white;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
