ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 800px;
  padding: 30px 60px;
}
.card {
  background: rgba(169, 93, 240, 0.1);
}
.main-weather-icon {
  text-align: right;
}
.temperature {
  font-size: small;
}
.future-day {
  text-align: center;
}
.color,
.temperature {
  color: rgb(137, 81, 228);
}
.main-temperature {
  font-size: 4rem;
}

.location-btn {
  background: rgb(137, 81, 228);
  color: white;
}
.footer {
  font-size: small;
}
.units {
  font-size: 1.2rem;
  position: relative;
  top: -30px;
}
#weather-description::first-letter {
  text-transform: capitalize;
}
.active {
  color: black;
  cursor: default;
}
.active:hover {
  color: black;
  text-decoration: none;
}
